@keyframes textCard-appear {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        right:0%
    }
    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        right:50%
    }
}

@keyframes imgCard-appear {
    
    0% {
        filter :  brightness(0);
        
    }
    80%{
        filter :  brightness(0);
    }
    100% {
        filter :  brightness(1);
        
    }
}

span.carousel-control-prev .custom,
span.carousel-control-next .custom {
    text-shadow: 0px 0px 60px black;
}
span.carousel-control-prev.custom :hover,
span.carousel-control-next.custom :hover {
    text-shadow: 0px 0px 60px black;
}

/*-----slowing down carousel-------*/
.carousel-inner > .carousel-item.slower {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;

    animation: image-appear;
}
/*-----------custom card body-------*/
.card.custom .card-body.custom {
    animation-duration: 7s;
    animation-name: textCard-appear;
    max-width: 50vw;
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    top: 20%;
    text-shadow: 0px 0px 5px rgb(99, 70, 70);
}

/*-----custom card img----*/
.card.custom img {
    height: 100vh;
    width:100vw;
    animation-duration: 5s;
    animation-name: imgCard-appear;
}
.container-fluid{
    padding:0%!important
}
.footerContact{
    position: fixed;
    bottom: 0px;
}

/* image de l'index*/
#imageApp{
    border: 1px solid rgba(0, 0, 0, 0.548);
    margin-left: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}


